<ion-header>
  <ion-navbar>
    <ion-title>
      AppliFilms
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar
    [(ngModel)]="myInput" [showCancelButton]="shouldShowCancel" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)">
  </ion-searchbar>
  <ion-list *ngIf="listMovies.length > 0">
    <ion-item *ngFor="let movie of listMovies" (click)="detailsMovie(movie)">
      <img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" alt="poster {{movie.title}}" width="200">
      {{movie.title}}
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Chargement de plus de films">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
