<!--
  Generated template for the DetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{movie.title}}</ion-title>
    <button ion-button *ngIf="inDb===0" (click)="saveAsFav(movie)"><ion-icon name="star-outline"></ion-icon></button>
    <button ion-button *ngIf="inDb===1" (click)="removeFav(movie)"><ion-icon name="star"></ion-icon></button>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <img src="https://image.tmdb.org/t/p/w500{{movie.backdrop_path}}" alt="image {{movie.title}}">
  <p>{{movie.overview}}</p>
  <button ion-button (click)="generateQrCode()"><ion-icon name="qr-scanner"></ion-icon> Généré le QrCode</button>
</ion-content>
